body{
    background-color: #ecf4e9;
    margin: 0;
}

li a{
    color: black;
    text-decoration: none;
    margin-right: 40px;
}

nav ul span{
    list-style: none;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.b1{
    height: 30px;
    width: 100px;
    border-radius: 4px;
    margin-right: 40px;
    background-color: black;
}

.l1{

    font-weight: bold;
}

.b1 a{
    margin: 0 auto;
    color: white;
    font-weight: 900;
    font-family: sans-serif;
}

nav ul span div{
    display: flex;
    margin: 0 auto;

}

nav img{
    height: 30px;
    width: 30px;
}

.nav-mid{
    text-align: center;
}

nav{
    padding: 10px 0;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 99999999;
}




footer{
  padding-top: 50px;
  height: 200px;
  width: 100%;
  background-color: white;
}

footer img{
  height: 30px;
  width: 30px;
}

.part4-1{
  width: 40%;
  padding-left: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.part4-1 span{
  font-weight: bold;
  position: relative;
  bottom: 8px;
}

.part4-1 p{
  color: grey;
}

.part4-2 table img{
  height: 20px;
  width: 20px;
  padding-left: 10px;
}

.part4-2{
  position: relative;
  bottom: 70px;
  right: 40px;
  color: grey;
  text-align: right;
}

.part4-2 table a{
  margin: 0;
  padding: 0;
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.td1 td a{
  padding-left: 30px;
}

.td2{
  position: relative;
  bottom: 50px;
}

.td1{
  position: relative;
  bottom: 30px;
}

.td3{
  position: relative;
  bottom: 15px;
}








.r1{
   width:50%;
   margin:auto;
   padding-top: 50px;
   height:550px;
}

.r1 h2{
  text-align: center;
  font-size: 50px;
  font-family: 'Woodland-bold', Georgia, serif;
  margin-top: 80px;
}

.r1 p{
  text-align: center;
  font-size: 20px;
  font-family: 'Prompt', sans-serif;
}

.r1-1{
   padding-top:100px;
}

.r2{
  background-color: white;
  height:666px;
  padding-top: 40px;
}

.r2-2 img{
  margin-left: 40px;
}

#para{
  position:relative;
  width:35%;
  left:660px;
  bottom:440px;
  font-size: 20px;
  font-family: cursive;
}

.r3{
background-color: #fde6e7;
height: 700px;
}

#head{
font-size:40px;
width:35%;
padding-top: 150px;
margin-top: 0px;
font-family: 'Prompt', sans-serif;
}

.beta{
width:25%;
width:340px;
position:relative;
left:900px;
bottom:230px;
background-color: WHITE;
height: 500px;
margin-left: 20px;
}

.beta-1{
padding:40px;
font-size: 20px;
}

.source{
margin-left:45px;
border-radius: 50%;
}

.alpha{
width:25%;
width:340px;
position:relative;
left:560px;
bottom:750px;
background-color: WHITE;
height: 500px;
}

.alpha-1{
padding:40px;
font-size: 20px;
}

.r4{
background-color: #ecf4e9;
}

.r4-1{
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-top: 89px;
padding-bottom: 40px;
font-size: 35px;
}

.r4-1 h2{
width: 70%;
margin: 0 auto;
}

.r4-1 table{
padding-top: 50px;
}

.img-table{
height: 130px;
width: 130px;
}