body{
    background-color: #ecf4e9;
    margin: 0;
}

li a{
    color: black;
    text-decoration: none;
    margin-right: 40px;
}

nav ul span{
    list-style: none;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.b1{
    height: 30px;
    width: 100px;
    border-radius: 4px;
    margin-right: 40px;
    background-color: black;
}

.l1{
    font-weight: bold;
}

.b1 a{
    margin: 0 auto;
    color: white;
    font-weight: 900;
    font-family: sans-serif;
}

nav ul span div{
    display: flex;
    margin: 0 auto;
    
}

nav img{
    height: 30px;
    width: 30px;
}

.nav-mid{
    text-align: center;
}

nav{
    padding: 10px 0;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 99999999;
}


.part1-1{
    position: relative;
    top:50px;
    width: 28%;
    padding: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 50px;
}

.part1-1 h1{
    font-size: 40px;
}

.part1-1 p{
    font-size: 17px;
}

.part1-2 img{
    height: 420px;
    width: 700px;
    border-radius: 30px;
    position: relative;
    left: 520px;
    bottom: 430px;
}

.part1-2{
}

.change{
    background-color: white;
}

.page1{
    height: 700px;
    width: 100%;
}

.page2{
    background-color: white;
    height: 800px;
    width: 100%;
}

.part2-1{
   padding-top: 130px;
    margin: 0 auto;
    text-align: center;
    width: 53%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.part2-1 h1{
    font-size: 42px;
}

.part2-1 p{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.part2-2 h2{
    padding-top: 60px;
    color: rgb(153, 204, 76);
    text-align: center;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 20px;
    font-weight:500;
    cursor: pointer;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .success {
    border-color: #ecf4e9;
    color: green;
  }
  
  .success:hover {
    background-color: #dcefd5;
    color: white;
  }

  .img-table{
    height: 130px;
    width: 130px;
  }

  .part3-1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 89px;
    padding-bottom: 40px;
    font-size: 35px;
  }

  .part3-1 h2{
    width: 70%;
    margin: 0 auto;
  }

  .part3-1 table{
    padding-top: 50px;
  }

  footer{
    padding-top: 50px;
    height: 200px;
    width: 100%;
    background-color: white;
  }

  footer img{
    height: 30px;
    width: 30px;
  }

  .part4-1{
    width: 40%;
    padding-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .part4-1 span{
    font-weight: bold;
    position: relative;
    bottom: 8px;
  }

  .part4-1 p{
    color: grey;
  }

  .part4-2 table img{
    height: 20px;
    width: 20px;    
    padding-left: 10px;
  }

  .part4-2{
    position: relative;
    bottom: 70px;
    right: 40px;
    color: grey;
    text-align: right;
  }

  .part4-2 table a{
    margin: 0;
    padding: 0;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .td1 td a{
    padding-left: 30px;
  }

  .td2{
    position: relative;
    bottom: 50px;
  }

  .td1{
    position: relative;
    bottom: 30px;
  }
  
  .td3{
    position: relative;
    bottom: 15px;
  }

